<div class="flex flex-col items-center justify-center p-6">
  <h2 class="text-lg text-darkBlue font-bold">Edit Profile</h2>

  <form class="w-full max-w-lg" method="post">
    <div class="mb-4">
      <label class="block text-darkBlue text-sm font-bold mb-2" for="name">Name</label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text" placeholder="Your name">
    </div>
    <div class="flex items-center justify-between">
      <button class="bg-purple hover:bg-darkPurple text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
        Update
      </button>
    </div>
  </form>
</div>
