<div class="flex flex-col justify-center px-6 py-12">
  <h1 class="text-2xl font-bold text-darkBlue mb-4">All users</h1>
  <div class="bg-white shadow-lg rounded-lg p-6">
    <% @users.each do |user| %>
      <div class="py-2 border-b border-lightBlue">
        <span class="text-lightBlue text-lg"><%= user.name %></span>
      </div>
    <% end %>
  </div>
</div>
