<div id="<%= dom_id chat %>">
  <p>
    <strong>Name:</strong>
    <%= chat.name %>
  </p>

  <p>
    <strong>Chat type:</strong>
    <%= chat.chat_type %>
  </p>

    <p>
    <strong>
      <%= chat.user_ids %>
    </strong>
  </p>

</div>
