<div class="flex min-h-full flex-col px-6 py-12 lg:px-8"> 
  <div>
    <% @chats.each do |chat| %>
      <%= render chat %>
      <div class="py-6">
        <%= link_to "Show this chat", chat %>
      </div>
    <% end %>
  </div>
</div>


<%= link_to "New chat", new_chat_path %>
