<div class="flex min-h-full flex-col px-6 py-12 lg:px-8"> 
  <div>
    <% @chats.each do |chat| %>
     <%= link_to chat_path(chat) do %>
        <%= render chat %>
      <% end %>
    <% end %>
  </div>
</div>


<%= link_to "New chat", new_chat_path %>
